@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
font: normal normal 13px/16px "Open Sans", sans-serif;
background: #dfdfdf;
}

.container{
padding: 20px;
width: 500px;
margin: 0 auto;
margin-top: 40px;
background: white;
border-radius: 5px;}

form {
display: inline-block;
}

.delete
{
    float: right;
    background-color: DodgerBlue;
    border: none; 
    color: white;
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 
    margin-top: -3.1%;
}

#button{
display: inline-block;
background-color:#fc999b;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
}

#button:hover{
cursor: pointer;
opacity: .8;}

ol {padding-left: 20px;}

ol li {
    font-size: 16px;
    padding: 15px;
    color:#000;
    margin: 10px;
    user-select: none;
}

 ol li:nth-child(even)
{
    background-color:pink;
} 

li:hover{
  cursor: pointer;
 }

.firstClass
 {
   font-style: italic;
   text-decoration: line-through;
 }

.secondClass
{
    background-color:aliceblue;
}

h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 75px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

p { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: center; text-justify: inter-word; }



